.item {
  font-size: 18px;
  padding: 12px 14px;
  border-radius: 8px;
  font-weight: 600;
  color: #212529 !important;
  text-decoration: none !important;
  cursor: pointer;
}

.navbarActive {
  background: #f8d000;
  color: #212529;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%) !important;
}
